@use "global" as *;

.archive-works__breadcrumb{
    width:100%;
    max-width:rem(1100);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: rem(16);
}

.archive-works__pagenavi{
    margin-top: rem(104);
}

.archive-works__inner{
    width:100%;
    max-width: rem(1150);
    margin-left: auto;
    margin-right: auto;
    @include mq(md){
        padding-left: rem(25);
        padding-right: rem(25);
    }

}

.archive-works__items{
    margin-top: rem(17);
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: rem(48);
    }
}

.archive-works__item{
    display: block;
    max-width:rem(525);
    width:100%;
    margin-top: rem(48);
    margin-left: auto;
    margin-right: auto;
    @include mq(md){
        width:calc(50% - rem(24));
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.archive-works__item:first-child{
    margin-top: rem(0);
}

.archive-works__item:nth-child(n + 3){
    @include mq(md){
        margin-top: rem(114);
    }
    
}

.archive-works__item:nth-child(even){
    @include mq(md){
        margin-left: rem(48);
    }
}


.archive-works__pagenavi{
    margin-top: rem(104);
}
