@use "global" as *;

.detail-pagenavi__items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(104);
    }
}

.detail-pagenavi__items a{
    font-size: rem(16);
    color: $white;
    font-weight: $regular;
    border: 1px solid $white;
    padding: rem(1) rem(13) 0;
}

.detail-pagenavi__item{
    font-size: rem(16);
    color: $white;
    font-weight: $regular;
    border: 1px solid $white;
    padding: rem(1) rem(13) 0;
}

.detail-pagenavi__item:hover{
    color: $black;
    background-color: $white;
}

.detail-pagenavi__item--center{
    margin: 0 rem(48);
    padding: rem(1) rem(20) 0;
}