@use "global" as *;

.footer-sp-nav{
    @include mq(md){
        display: none;
    }
}

.footer-sp-nav__item{
    letter-spacing: 0.075em;
    margin-top: rem(7);
    font-weight:$regular;
    padding-left: rem(3);
    // @include mq(md){
    //     margin-left: rem(27);
    //     margin-top: rem(5);
    //     letter-spacing: 0.125em;
    // }
}

.footer-sp-nav__item a:hover{
    text-decoration: underline;
    text-decoration-color: #FFEA2E;
    text-underline-offset: 7px;
}
