@use "global" as *;

.page-link{
    color:$white;
    font-weight: $regular;
    margin-top: rem(12);
}

.page-link__top{
    letter-spacing: 0.05em;
}

.page-link span{
    font-size: rem(14);
    display: inline-block;
    margin-left: rem(2);
}

.page-link__blog{
    letter-spacing: 0.05em;
    display: inline-block;
    margin-left: -1px;
}

.page-link__top:hover, .page-link__blog:hover{
    text-decoration: underline;
    text-decoration-color: $white;
}