@use "global" as *;

.page-top{
    position:fixed;
    bottom:rem(29);
    right:rem(20);
    height:rem(45);
    width:rem(45);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    @include mq(md){
        bottom:rem(36);
        right:rem(32)
    }
}

.page-top--blog{
    bottom: rem(28);
    right: rem(21);
    @include mq(md){
        bottom:rem(41);
        right:rem(32);
    }
}

.arrow-top{
    display: block;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

.page-top:hover{
    background-color: $bg;
}

.page-top:hover .arrow-top{
    color:$white;
}

